@charset "utf-8";

html,body, .swiper-container, .swiper-slide{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/*--music start--*/
.music {
    display: none;
    position: absolute;
    top: .2rem;
    right: .2rem;
    z-index: 100;
    width: .6rem;
    height: .6rem;
    background: url("../audioFile/music.svg") no-repeat;
    background-size: 100% 100%;
}

.music.move {
    -webkit-animation: musicMove 1s linear infinite both;
    animation: musicMove 1s linear infinite both;
}

.move .musicAudio {
    display: none;
}

@-webkit-keyframes musicMove {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes musicMove {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.match{
    position: fixed;
    width: 1rem;
    height: 1rem;
    top: 10rem;
    left: 3.2rem;
    z-index: 1000;
    opacity: 0;
}
.bg{
    position: absolute;
    border: .4rem dashed transparent;
}
.match .prev{
     border-bottom-color:white;
    top: -.3rem;
    z-index: 1;
}
.match{
    -webkit-animation: fadeOutUp 2s infinite .5s both;
    animation: fadeOutUp 2s infinite .5s  both;
    opacity: 1;
}
@-webkit-keyframes fadeOutUp {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);

    }
}

@keyframes fadeOutUp {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}
.match .last{
    border-bottom-color:#eeeeee;
    top: -.1rem;
    z-index: 999;
}
.swiper-slide{
    position: relative;
    background: #eeeeee;
}

.img1>img{
opacity: 0;
position: absolute;
}
.img2>div{
    opacity: 0;
    position: absolute;

}
.img1>img:nth-child(1){
    top: .5rem;
    right:0;
    width: 2.34rem;
    height:  2.34rem;
}
.img1>img:nth-child(2){
    top:  .8rem;
    left: .2rem;
    width: 2rem;
    height:  2.34rem;
    -webkit-transform:rotate(60deg);
    transform: rotate(60deg);
}
.img1>img:nth-child(3){
    top:  .8rem;
    right: .4rem;
    width: 2.3rem;
    height:  2rem;
    -webkit-transform:rotate(10deg);
    transform: rotate(10deg);
}
.img1>img:nth-child(4){
    top: 2rem;
    left:1.5rem;
    width: 3rem;
    height: 1.5rem;
}
.img1>img:nth-child(5){
    top: 3.2rem;
    left:1.5rem;
    width: 4rem;
    height:  .6rem;
}

.img1>img:nth-child(6){
    top: 5rem;
    left:.4rem;
    width: 6rem;
    height:  2rem;
}
.img1>img:nth-child(7){
    top: 7.3rem;
    left:2rem;
    width: 4rem;
    height: 2rem;
    -webkit-transform:rotate(130deg);
    transform: rotate(130deg);
}

.img1>img:nth-child(8){
    top: 9rem;
    left: .3rem;
    width: 2rem;
    height: 2rem;
    -webkit-transform:rotate(110deg);
    transform: rotate(110deg);
}
.img1>img:nth-child(9){
    width: 2rem;
    height: 1.8rem;
    top:9.5rem;
    right: .2rem;
    -webkit-transform:rotate(-70deg);
    transform: rotate(-70deg);
}

.img1>img:nth-child(10){
    top: 7rem;
    width: 3rem;
    height: 2.3rem;
    left:1.7rem;
    -webkit-transform:rotate(152deg);
    transform: rotate(152deg);

}
.img1>img:nth-child(11){
    top:3.8rem;
    left: 2.8rem;
    width: 3rem;
    height: 1.5rem;
}

/*--开始的时候每一页是存在ID的,我想实现的是只要给每页加上对应的ID,就让每一页里面的子元素开始运动--*/
#img1>img:nth-child(1){
    -webkit-animation: bounceIn 2s .4s both;
    animation: bounceIn 2s .4s both;
    opacity: 1;
}

#img1>img:nth-child(2){
    opacity: 1;
    -webkit-animation: bounceInLeft 1s 1s both;
     animation: bounceInLeft 1s 1s both;
}
#img1>img:nth-child(3){
    opacity: 1;
    -webkit-animation: bounceInRight 1s 1s both;
     animation: bounceInRight 1s 1s both;
}
#img1>img:nth-child(4){
    opacity: 1;
    -webkit-animation: bounceInDown 1s 2s  both;
    animation: bounceInDown 1s 2s both;
}

#img1>img:nth-child(5){
    opacity: 1;
    -webkit-animation: bounceInLeft 1s 1.8s  both;
    animation: bounceInLeft 1s 1.8s both;
}
#img1>img:nth-child(6){
    opacity: 1;
    -webkit-animation: rollIn 1s 2.8s both;
    animation: rollIn 1s 2.8s both;
}
#img1>img:nth-child(7){
    opacity: 1;
    -webkit-animation: rollIn 1s 2.8s both;
    animation: rollIn 1s 2.8s both;
}
#img1>img:nth-child(8){
    opacity: 1;
    -webkit-animation: bounceInLeft 1s 1.2s both;
    animation: bounceInLeft 1s 1.2s both;
}

#img1>img:nth-child(9){
    opacity: 1;
    -webkit-animation: bounceInRight 1s 1.2s both;
    animation: bounceInRight 1s 1.2s both;
}
#img1>img:nth-child(10){
    opacity: 1;
    -webkit-animation: rollIn 1s 2.8s both;
    animation: rollIn 1s 2.8s both;
}
#img1>img:nth-child(11){
    opacity: 1;
    -webkit-animation: bounceInDown 1s 2.3s both;
    animation: bounceInDown 1s 2.3s both
}

/*img2*/
.img2>div:nth-child(1){
    top: 0;
    left: 0;
    width: 1.6rem;
    height:7.2rem;
}
.tu1{
    width: 1.6rem;
    height:7.2rem;
}

.img2>div:nth-child(2){
    top: 7rem;
    left: 0;
    width: 2.5rem;
    height:4.4rem;
}
.tu2{
    width: 2.5rem;
    height:4.4rem;
}
.img2>div:nth-child(5), .img2>img:nth-child(3){
    top: 2rem;
    left: 1rem;
    width: 2rem;
    height:2rem;
    background-color: yellow;
    border-radius: 50%;
    z-index: 10;
}

.img2>div:nth-child(3){
    top: .4rem;
    right:.2rem;
    width: 2rem;
    height:2rem;
    -webkit-transform:rotate(300deg);
    transform: rotate(300deg);
}
.tu3{
    width: 2rem;
    height:2rem;
}
.img2>div:nth-child(4){
    top: 9rem;
    right: .4rem;
    width:1.5rem;
    height:1.5rem;
    -webkit-transform:rotate(150deg);
    transform: rotate(150deg);
}
.tu4{
    height: 2rem;
    width:2rem;
}
.img2>div:nth-child(5){
    width: 2.5rem;
    height:2.5rem;
    overflow: hidden;
    z-index: 8;
    top: 1.68rem;
}
.tu5{
    width: 2.5rem;
    height:2.5rem;
}
.img2>div:nth-child(6){
    background-color: yellow;
    width: 2.8rem;
    height:2.8rem;
    position: absolute;
    top: 1.5rem;
    left: .85rem;
    z-index: 6;
    border-radius: 50%;
    overflow: hidden;
}

.img2>div:nth-child(7){
    width: 3.5rem;
    height: .5rem;
    background-color: #000;
    position: absolute;
    top: 2.5rem;
    left: 2rem;

}
.tou1 span{
    font-size: .3rem;
    line-height: .5rem;
    color: #f5ff44;
    display: block;
    margin-left: 1.8rem;
}

.img2>div:nth-child(8){
    top: 4.4rem;
    left: 2rem;
    position: absolute;
    width: 5rem;
    height: 4rem;
}
.img2>div:nth-child(9){
    top: 7.5rem;
    left: 2rem;
    position: absolute;
    width: 5rem;
    height: 3rem;
}
.tou2 ul li, .tou3 ul li{
    font-size: .33rem;
    width: 100%;
    height: .6rem;
    line-height: .6rem;
    color: #919191;
}

#img2>div:nth-child(1){
    opacity: 1;
    -webkit-animation: fadeInLeft 1.8s .8s both;
    animation: fadeInLeft 1.8s .8s both
}
#img2>div:nth-child(2){
    opacity: 1;
    -webkit-animation: bounceInRight 2s .8s both;
    animation: bounceInRight 2s .8s both
}
#img2>div:nth-child(3){
    opacity: 1;
    -webkit-animation: bounceInRight .9s 2.4s both;
    animation: bounceInRight .9s 2.4s both
}
#img2>div:nth-child(4){
    opacity: 1;
    -webkit-animation: bounceIn .9s 2.5s both;
    animation: bounceIn .9s 2.5s both
}
#img2>div:nth-child(5){
    opacity: 1;
    -webkit-animation: bounceIn 1s 3.3s both;
    animation: bounceIn 1s 3.3s both
}
#img2>div:nth-child(6){
    opacity: 1;
    -webkit-animation: bounceIn 1s 3s both;
    animation: bounceIn 1s 3s both
}
#img2>div:nth-child(7){
    opacity: 1;
    -webkit-animation: fadeInLeft 1.8s 3.4s both;
    animation: fadeInLeft 1.8s 3.4s both
}
#img2>div:nth-child(8){
    opacity: 1;
    -webkit-animation: bounceInUp 1s 3.8s both;
    animation: bounceInUp 1s 3.8s both
}
#img2>div:nth-child(9){
    opacity: 1;
    -webkit-animation: bounceInUp 1s 4.2s both;
    animation: bounceInUp 1s 4.2s both
}

/*img3*/
.img3>div{
    position: absolute;
    opacity: 0;
}
.img3>div:nth-child(1){
    top: .5rem;
    left:1.4rem;
    width:4rem;
    height:2rem;
    z-index: 11;

}
.tu31{
    width:4rem;
    height:1.5rem;
}
.img3>div:nth-child(2){
    top: 0.9rem;
    left:1.7rem;
    width:4rem;
    height:2rem;
    -webkit-transform:rotate(10deg);
    transform: rotate(10deg);
}

.tu32{
    width:4rem;
    height:1.5rem;
}
.img3>div:nth-child(3){
    top: 9.5rem;
    right:0;
    width:2rem;
    height:2rem;
    -webkit-transform:rotate(20deg);
    transform: rotate(20deg);
}
.tu33{
    width:2rem;
    height:2rem;
}
.img3>div:nth-child(4){
    top: 9rem;
    left: 0.5rem;
    width:1.5rem;
    height:1.8rem;
    -webkit-transform:rotate(10deg);
    transform: rotate(10deg);
}
.tu34{
    width:1.5rem;
    height:1.8rem;
}
.img3>div:nth-child(5){
    top:2.3rem;
    left: 2.2rem;
    width:4rem;
    height:1rem;
    color: #2a2a2a;
    font-size: .8rem;
    font-weight: 900;
}
.img3>div:nth-child(6){
    top:3.8rem;
    left: 0.9rem;
    width:1.5rem;
    height:1.8rem;
}
.tu35{
    width:1rem;
    height: 5.5rem;
}
.tu36, .tu37, .tu38, .tu39{
    width:1.2rem;
    height:1.2rem;
}
.img3>div:nth-child(7){
    top:4rem;
    left: 0.78rem;
    width:1.2rem;
    height:1.2rem;
}
.img3>div:nth-child(8){
    top:5.1rem;
    left: 0.78rem;
    width:1.2rem;
    height:1.2rem;
}.img3>div:nth-child(9){
     top:6.3rem;
     left: 0.78rem;
     width:1.2rem;
     height:1.2rem;
 }
.img3>div:nth-child(10){
    top:7.5rem;
    left: 0.78rem;
    width:1.2rem;
    height:1.2rem;
}

.img3>div:nth-child(11){
    top: 4.2rem;
    left: 2.2rem;
    width: 5rem;
    height: .7rem;
    border: .03rem solid #919191;
}
.img3 p{
    font-size: .4rem;
    width:4rem;
    height:.7rem;
    line-height:.7rem;
    text-align: center;
    color: #919191;
}
.img3>div:nth-child(12){
    top: 5.4rem;
    left: 2.2rem;
    width: 5rem;
    height:.7rem;
    border: .03rem solid #919191;
}
.img3>div:nth-child(13){
    top:6.6rem;
    left: 2.2rem;
    width: 5rem;
    height:.7rem;
    border: .03rem solid #919191;
}
.img3>div:nth-child(14){
    top:7.8rem;
    left: 2.2rem;
    width: 5rem;
    height:.7rem;
    border: .03rem solid #919191;
}
#img3>div:nth-child(1){
    opacity: 1;
    -webkit-animation: zoomIn 1s 1.3s both;
    animation: zoomIn 1s 1.3s both
}
#img3>div:nth-child(2){
    opacity: 1;
    -webkit-animation: rollIn 1.5s .5s both;
    animation: rollIn 1.5s .5s both
}
#img3>div:nth-child(3){
    opacity: 1;
    -webkit-animation: fadeInLeft 1.8s .8s both;
    animation: fadeInLeft 1.8s .8s both
}
#img3>div:nth-child(4){
    opacity: 1;
    -webkit-animation: fadeInLeft 1.8s .8s both;
    animation: fadeInLeft 1.8s .8s both
}
#img3>div:nth-child(5){
    opacity: 1;
    -webkit-animation: fadeInLeft 1s .8s both;
    animation: fadeInLeft 1s .8s both
}
#img3>div:nth-child(6){
    opacity: 1;
    -webkit-animation: bounceInUp 1s .8s both;
    animation: bounceInUp 1s .8s both
}
#img3>div:nth-child(7){
    opacity: 1;
    -webkit-animation: fadeInUp 1s 1.5s both;
    animation: fadeInUp 1s 1.5s both
}
#img3>div:nth-child(8){
    opacity: 1;
    -webkit-animation: fadeInUp 1s 1.8s both;
    animation: fadeInUp 1s 1.8s both
}
#img3>div:nth-child(9){
    opacity: 1;
    -webkit-animation: fadeInUp 1s 2.1s both;
    animation: fadeInUp 1s 2.1s both
}
#img3>div:nth-child(10){
    opacity: 1;
    -webkit-animation: fadeInUp 1s 2.5s both;
    animation: fadeInUp 1s 2.5s both
}
#img3>div:nth-child(11){
    opacity: 1;
    -webkit-animation: fadeInRight .5s 3s both;
    animation: fadeInRight .5s 3s both
}

#img3>div:nth-child(12){
    opacity: 1;
    -webkit-animation: fadeInRight .5s 3.3s both;
    animation: fadeInRight .5s 3.3s both
}
#img3>div:nth-child(13){
    opacity: 1;
    -webkit-animation: fadeInRight .5s 3.6s both;
    animation: fadeInRight .5s 3.6s both
}
#img3>div:nth-child(14){
    opacity: 1;
    -webkit-animation: fadeInRight .5s 4s both;
    animation: fadeInRight .5s 4s both
}


/*img4*/
.img4>div{
    opacity: 0;
    position: absolute;
}
.img4>div:nth-child(1){
    top: .6rem;
    left: 2.7rem;
    width: 2.6rem;
    height: 2.3rem;
    z-index: 8;
}
.img40{
    width: 2.6rem;
    height: 2.3rem;
}


.img4>div:nth-child(2){
    top: .7rem;
    left: 1.9rem;
    width:3rem;
    height:1.3rem;
    z-index: 7;
}
.img41{
    width:3rem;
    height:1.3rem;
}
.img4>div:nth-child(3){
    top: 3rem;
    left: 2rem;
    width: 3.6rem;
    height: .7rem;
}
.img42{
    width: 3.6rem;
    height: .7rem;
}
.img4>div:nth-child(4){
    top: 9rem;
    right: .5rem;
    width:1.5rem;
    height:2rem;
    -webkit-transform:rotate(20deg);
    transform: rotate(20deg);
}
.img43{
    width:1.5rem;
    height:2rem;
}
.img4>div:nth-child(5){
    top: 9.5rem;
    left: .5rem;
    width:1.5rem;
    height:1.5rem;
    -webkit-transform:rotate(270deg);
    transform: rotate(270deg);
}
.img44{
    width:1.5rem;
    height:1.5rem;
}
.img4>div:nth-child(6){
    top: 4.2rem;
    left: .6rem;
    width:3rem;
    height:.8rem;
}
.img45{
    width:3rem;
    height:.8rem;
}

.img4>div:nth-child(8){
    top: 4.2rem;
    left: 4rem;
    width:3rem;
    height:.8rem;
}
.img46{
    width:3rem;
    height:.8rem;
}
.img4>div:nth-child(7){
    top: 5.3rem;
    left: 4rem;
    width:3rem;
    height:.8rem;
}
.img47{
    width:3rem;
    height:.8rem;
}
.img4>div:nth-child(9){
    top: 5.3rem;
    left: .6rem;
    width:3rem;
    height:.8rem;
}
.img48{
    width:3rem;
    height:.8rem;
}
.img4>div:nth-child(11){
    top: 6.4rem;
    left: 4rem;
    width:3rem;
    height:.8rem;
}
.img49{
    width:3rem;
    height:.8rem;
}
.img4>div:nth-child(10){
    top: 6.4rem;
    left: .6rem;
    width:3rem;
    height:.8rem;
}
.img410{
    width:3rem;
    height:.8rem;
}

.img4>div:nth-child(12){
    top:7.6rem;
    left: .6rem;
    width: 6.34rem;
    height:1rem;
    text-align: center;
    overflow: hidden;
    border: .04rem solid #919191;
}
.img4 span{
    color: black;
    font-size: .4rem;
    text-align: center;
    line-height: 1rem;
}
#img4>div:nth-child(1){
    opacity: 1;
    -webkit-animation: fadeInLeft 1s .8s both;
    animation: fadeInLeft 1s .8s both
}
#img4>div:nth-child(2){
    opacity: 1;
    -webkit-animation: bounceIn 1s 1s both;
    animation: bounceIn 1s 1s both
}
#img4>div:nth-child(3){
    opacity: 1;
    -webkit-animation: zoomIn 2s 1s both;
    animation: zoomIn 2s 1s both
}
#img4>div:nth-child(4){
    opacity: 1;
    -webkit-animation: bounceInLeft 2s 1s both;
    animation: bounceInLeft 2s 1s both
}
#img4>div:nth-child(5){
    opacity: 1;
    -webkit-animation: bounceInRight 2s 1s both;
    animation: bounceInRight 2s 1s both
}

#img4>div:nth-child(6){
    opacity: 1;
    -webkit-animation: bounceInLeft 2s 2s both;
    animation: bounceInLeft 2s 2s both
}
#img4>div:nth-child(7){
    opacity: 1;
    -webkit-animation: bounceInLeft 2s 2s both;
    animation: bounceInLeft 2s 2s both
}
#img4>div:nth-child(8){
    opacity: 1;
    -webkit-animation: bounceInRight 2s 2s both;
    animation: bounceInRight 2s 2s both
}
#img4>div:nth-child(9){
    opacity: 1;
    -webkit-animation: bounceInRight 2s 2s both;
    animation: bounceInRight 2s 2s both
}
#img4>div:nth-child(10){
    opacity: 1;
    -webkit-animation: bounceInLeft 2s 2s both;
    animation: bounceInLeft 2s 2s both
}
#img4>div:nth-child(11){
    opacity: 1;
    -webkit-animation: bounceInRight 2s 2s both;
    animation: bounceInRight 2s 2s both
}
#img4>div:nth-child(12){
    opacity: 1;
    -webkit-animation: bounceIn 2s 3s both;
    animation: bounceIn 2s 3s both
}

/*img5*/
.img5>div{
    opacity: 0;
    position: absolute;
}
.img5>div:nth-child(1){
    top:0;
    right: -.1rem;
    width: 4rem;
    height: 2rem;
    -webkit-transform: skew(15deg, 0deg);
    transform: skew(15deg, 0deg);
}
.img51{
    width: 4rem;
    height: 2rem;

}
.img5>div:nth-child(2){
    top: 8.8rem;
    left: 0;
    width: 4rem;
    height: 2rem;

}
.img52{
    width: 4rem;
    height: 2rem;
}
.img5>div:nth-child(3){
    top: .8rem;
    left: -0.3rem;
    width: 2.5rem;
    height:2.5rem;
    -webkit-transform:rotate(180deg);
    transform: rotate(180deg);
}
.img53{
    width:2.5rem;
    height:2.5rem;
}

.img5>div:nth-child(4){
    top: 9rem;
    right: .1rem;
    width: 2rem;
    height:2rem;
    -webkit-transform:rotate(180deg);
    transform: rotate(180deg);
}
.img54{
    width:2rem;
    height:2rem;
}
.img5>div:nth-child(5){
    top: 2.6rem;
    left: 1rem;
    width: 5rem;
    height:1.5rem;
    border-radius: 1rem;
}
.img5 h2{
    font-size: .7rem;
    line-height: 1.5rem;
    text-align: center;
    color: #2a2a2a;
}
.img5 span{
    font-size: .4rem;
    line-height: 1rem;
    text-align: center;
    color: #2a2a2a;
}
.img5>div:nth-child(6){
    top: 4rem;
    left: 2.5rem;
    width: 3rem;
    height:1rem;
    border-radius: 1rem;
}
.img5>div:nth-child(7){
    top: 5.2rem;
    left: .7rem;
    width: 6rem;
    height:1rem;
    background-color: #2a2a2a;
    border-radius: 1rem;
}
.img5>div:nth-child(8){
    top: 6.5rem;
    left: 1.7rem;
    width: 5rem;
    height:1rem;
    border-radius: 1rem;
}
.img5>div:nth-child(9){
    top: 7.8rem;
    left: .7rem;
    width: 6rem;
    height:1rem;
    background-color: #2a2a2a;
    border-radius: 1rem;
    overflow: hidden;
}
.img5 .span1{
    color: orange;
    display: block;
    line-height: 1rem;
    text-align: center;
}

#img5>div:nth-child(1){
    opacity: 1;
    -webkit-animation:bounceInLeft 3s .5s both;
    animation: bounceInLeft 3s .5s both
}
#img5>div:nth-child(2){
    opacity: 1;
    -webkit-animation:bounceInRight 3s .5s both;
    animation: bounceInRight 3s .5s both
}

#img5>div:nth-child(4){
    opacity: 1;
    -webkit-animation:bounceInLeft 3s 1s both;
    animation: bounceInLeft 3s 1s both
}
#img5>div:nth-child(3){
    opacity: 1;
    -webkit-animation:bounceInRight 3s 1s both;
    animation: bounceInRight 3s 1s both
}
#img5>div:nth-child(5){
    opacity: 1;
     -webkit-animation:bounceIn 1s 2s both;
     animation: bounceIn  1s 2s both
 }
#img5>div:nth-child(6){
    opacity: 1;
    -webkit-animation:rollIn 1s 3s both;
    animation: rollIn  1s 3s both
}
#img5>div:nth-child(8){
    opacity: 1;
    -webkit-animation:rollIn 1s 3s both;
    animation: rollIn  1s 3s both
}
#img5>div:nth-child(7){
    opacity: 1;
    -webkit-animation:rotateInDownRight 1s 3.5s both;
    animation: rotateInDownRight  1s 3.5s both
}
#img5>div:nth-child(9){
    opacity: 1;
    -webkit-animation:rotateInDownRight 1s 3.5s both;
    animation: rotateInDownRight  1s 3.5s both
}





/*--以下是CSS3动画--*/
@keyframes rotateInDownRight {
    from {
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: rotate3d(0, 0, 1, 45deg);
        transform: rotate3d(0, 0, 1, 45deg);
        opacity: 0;
    }

    to {
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

.rotateInDownRight {
    -webkit-animation-name: rotateInDownRight;
    animation-name: rotateInDownRight;
}
@-webkit-keyframes rotateInDownLeft {
    from {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: rotate3d(0, 0, 1, -45deg);
        transform: rotate3d(0, 0, 1, -45deg);
        opacity: 0;
    }

    to {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@keyframes rotateInDownLeft {
    from {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: rotate3d(0, 0, 1, -45deg);
        transform: rotate3d(0, 0, 1, -45deg);
        opacity: 0;
    }

    to {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@-webkit-keyframes rubberBand {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes rubberBand {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@-webkit-keyframes flip {
    from {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    40% {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    50% {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    80% {
        -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
        transform: perspective(400px) scale3d(.95, .95, .95);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
}

@keyframes flip {
    from {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    40% {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    50% {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    80% {
        -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
        transform: perspective(400px) scale3d(.95, .95, .95);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
}

@-webkit-keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@-webkit-keyframes rotateInDownLeft {
    from {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: rotate3d(0, 0, 1, -45deg);
        transform: rotate3d(0, 0, 1, -45deg);
        opacity: 0;
    }

    to {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@keyframes rotateInDownLeft {
    from {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: rotate3d(0, 0, 1, -45deg);
        transform: rotate3d(0, 0, 1, -45deg);
        opacity: 0;
    }

    to {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}
@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}



@keyframes bounceInUp {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        opacity: 1;
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);

        opacity: 1;
    }
}

.bounceInUp {
    -webkit-animation-name: bounceInUp;
    animation-name: bounceInUp;
}
@-webkit-keyframes pulse {
    from {
        opacity:0;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }
}

@keyframes pulse {
    from {
        opacity:0;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }
}

@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@-webkit-keyframes rollIn {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
        transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes rollIn {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
        transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@-webkit-keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@-webkit-keyframes bounceInDown {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@keyframes bounceInDown {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@-webkit-keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@-webkit-keyframes bounceInRight {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@keyframes bounceInRight {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 1;
    }
}





